<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195773372243-1csdic6ep4gfvlk3kvdqm1oh6ehdqpa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195773372243-1csdic6ep4gfvlk3kvdqm1oh6ehdqpa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAL1zBuBelO-Tldxfhw81d8g07-pJpItwA</string>
	<key>GCM_SENDER_ID</key>
	<string>195773372243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glossarioOclusao</string>
	<key>PROJECT_ID</key>
	<string>glossario-oclusao</string>
	<key>STORAGE_BUCKET</key>
	<string>glossario-oclusao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195773372243:ios:56a4f3d868e0e2b93e73a6</string>
</dict>
</plist>